.player_inner_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    border-radius: inherit;
    min-height: 50px;
    width: 100%;
    cursor: pointer;
    padding: 6px 12px;
    box-sizing: border-box;
}

.player_container {
    background-color: #171e27;
    border-radius: 5px;
    box-shadow: 0 1px 0 #3a4b68a8;
    margin-bottom: 5px;
}

.player_inner_container:hover {
    background-color: #242e3b;
}

.active {
    background-color: #242e3b
}

.player_inner_container>.right {
    display: flex;
    height: 30px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
}

.player_inner_container>.player_username {
    margin: 0;
    width: max-content;
    overflow-x: hidden;
    text-overflow: ellipsis;
    height: max-content;
    margin-top: auto;
    margin-bottom: auto;
    width: 90%;
}