{% extends 'base.html' %} {% block content %}

<div class="login_content">
    <div class="login_form">
        <div class="title">
            <p>Authorisation</p>
        </div>
        <div class="form">
            <form action="" name="login_form">
                <input id="csrf" type="hidden" name="csrf_token" value="" />
                <script>
                    document.getElementById("csrf").value = getCSRF();
                </script>
                <p>
                    <input class="field form-control custom_input" id="login" name="login" placeholder="Login"
                        required="" type="text" value="">
                </p>
                <p>
                    <input class="field form-control custom_input" id="password" name="password" placeholder="Password"
                        required="" type="password" value="">
                </p>
                <p>
                    <input id="remember_me" name="remember_me" type="checkbox" value="y">
                    <label for="remember_me">Remember me</label>
                </p>
                <p>
                    <input class="btn btn-submit custom_input" id="submit" name="submit" type="submit" value="Enter">
                </p>
            </form>
        </div>
    </div>
    <a href="/register" class="reg_button">Registration</a>
    <div class="contacts">
        <p>Developers</p>
        <a href="https://discord.com/users/337577546168401920">Demon_Dimon#0347</a>
        <a href="https://discord.com/users/254608220880896010">Ivarys#2177</a>
    </div>
</div>
<script src="/static/js/login_form.js"></script>
{% endblock content %}