{% extends 'base.html' %} {% block content %}
<header>
    <nav class="menu">
        <a href="/">Main page</a>
        <div class="menu-right">
            <a href="/logout">{{current_user.Username}}</a>
        </div>
    </nav>
</header>
<div class="content">
    <div class="players">

        <p class="title">
            Players
        </p>
        <div class="user_create_container">
            <input type="text" id="UserNickname" placeholder="Username" class="custom_input">
            <button class="btn btn-submit custom_input" id="UserCreateButton">Create</button>
        </div>
        <hr>
        <input type="text" id="PlayersSearch" placeholder="Search" class="custom_input">
        <hr>
        <div class="player_list">
            <table id="players_list">
                <col class="player_container" />
            </table>
        </div>

    </div>
    <div class="lobby">
        <p class="title">
            Lobby
        </p>
        <p id="lobby_count">Players in lobby: </p>
        <hr>
        <div class="lobby_list">
            <table id="lobby_list"></table>
        </div>
    </div>
    <div class="balance_container">
        <img src="/static/img/balance_alt.png" alt="" id="balance_image">
        <div class="balance_controlls">
            <div class="balance_controlls_left">
                <p class="btn balance_button" id="balance_button">Balance teams</p>
            </div>
            <div class="balance_controlls_right">
                <!--<p id="copy_button" class="balance_button copy_button">Copy</p>-->
                <p class="btn balance_button" id="balance_button_left">❮</p>
                <p id="balance_count">0/0</p>
                <p class="btn balance_button" id="balance_button_right">❱</p>
            </div>
        </div>
    </div>
    <div id="customSelect" class="customSelect">
    </div>
</div>
<script src="static/js/players.js"></script>
{% endblock content %}