<div class="column_widget settings">
    <p class="column_title">
        Settings
    </p>
    <hr>
    <div class="settings_checkbox">
        <input type="checkbox" name="Extended Lobby" v-model="ExtendedLobby">
        <p class="checkbox_title">Extended Lobby</p>
    </div>
    <div class="settings_checkbox">
        <input type="checkbox" name="Custom Autochoice" v-model="CustomAutoChoice">
        <p class="checkbox_title">Custom Autochoice</p>
    </div>
    <hr>
    <p class="column_title">
        Role amount settings
    </p>
    <div class="settings_role_count">
        <div class="role">
            <img src="/static/img/T_icon.png" alt="" width="30">
            <input type="number" name="" id="" onFocus="this.select()" @keydown.enter="this.blur()" class="settings_amout_input custom_input" v-model="TeamTCount">
        </div>
        <div class="role">
            <img src="/static/img/D_icon.png" alt="" width="30">
            <input type="number" name="" id="" onFocus="this.select()" @keydown.enter="this.blur()" class="settings_amout_input custom_input" v-model="TeamDCount">
        </div>
        <div class="role">
            <img src="/static/img/H_icon.png" alt="" width="30">
            <input type="number" name="" id="" onFocus="this.select()" @keydown.enter="this.blur()" class="settings_amout_input custom_input" v-model="TeamHCount">
        </div>
    </div>
    <hr>
    <p class="column_title">
        Team Names
    </p>
    <div class="settings_team_names">
        <div class="team" id="team1">
            <p class="settings_team_title">Team 1</p>
            <input type="text" class="custom_input settings_team_input" v-model="Team1Name">
        </div>
        <div class="team" id="team2">
            <p class="settings_team_title">Team 2</p>
            <input type="text" class="custom_input settings_team_input" v-model="Team2Name">
        </div>
    </div>
    <hr>
    <p class="column_title">
        Balance Design
    </p>
    <select name="theme" v-model="theme" class="custom_input">
        <option value="0">Design 1</option>
        <option value="1">Design 2</option>
    </select>
    <img :src="themeImgSrc" alt="">
</div>