body {
    background-color: #090C10;
    color: #d8d8d8;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
}

header {
    position: relative;
    width: 100% - 32px;
    height: 4vh;
    background-color: #161B22;
    padding: 16px 32px;
}

input,
button {
    border-radius: 3px;
    padding: 6px;
    background-color: #090C10;
    box-shadow: none;
    border: solid 1px #444444;
    color: #d8d8d8;
    cursor: pointer;
}

.btn {
    padding: 5px 10px 5px 10px;
}

.btn-submit {
    background-color: #069401;
}

.menu {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
}

.menu>a:hover {
    color: #d3d3d3;
}

.menu-right {
    float: right;
}

.content {
    height: 92vh;
    display: inline-block;
}

hr {
    border: solid 1px #444444;
    border-radius: 1px;
}


/* Login Form*/

.login_form {
    width: max-content;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 6px;
    padding: 20px;
    background-color: #11161d;
    border: solid 1px #444444;
}

.login_form>.title>p {
    text-align: center;
    font-size: 25px;
}

#submit {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.error-message {
    font-size: 11px;
}

input.error {
    border: solid 1px #da0000;
}


/* */

.lobby {
    display: inline-block;
    vertical-align: top;
    border-radius: 6px;
    border: solid 1px #444444;
    margin: 8px;
    margin-top: 10px;
    padding: 16px 16px;
    width: 15vw;
    background-color: #11161d;
    height: 90%;
}

.lobby>.title {
    margin: 0;
    margin-bottom: 5px;
    text-align: center;
}

.lobby>hr {
    margin-top: 40px;
}

.lobby_list {
    overflow-y: auto;
    height: 91%;
}

#lobby_list {
    width: 100%;
    table-layout: fixed;
}


/* */

.players>#PlayersSearch {
    width: 95%;
}

.players {
    display: inline-block;
    vertical-align: top;
    border-radius: 6px;
    border: solid 1px #444444;
    margin: 8px;
    margin-top: 10px;
    padding: 16px 16px;
    width: 15vw;
    background-color: #11161d;
    height: 90%;
}

.players>.title {
    margin: 0;
    margin-bottom: 5px;
    text-align: center;
}

.player_list {
    overflow-y: auto;
    height: 91%;
}

#players_list {
    width: 100%;
    table-layout: fixed;
}

td tr {
    width: 100%;
}

.player_inner_container {
    display: block;
    position: relative;
    background-color: #171e27;
    border-radius: 12px;
    border: solid 1px #444444;
    padding: 12px 24px;
    width: 100% - 48px;
    cursor: pointer;
}

.player_inner_container:hover {
    background-color: #242e3b;
}

.active {
    background-color: #242e3b
}

.player_inner_container>.right {
    position: absolute;
    bottom: 7px;
    right: 15px;
}

.player_inner_container>p {
    margin: 0;
    width: max-content;
    overflow-x: hidden;
    text-overflow: ellipsis;
    width: 90%;
}

.cursor {
    transform: translate(0, 17px);
    font-size: 22px;
    color: #445368;
}


/* ScrollBar */

* {
    scrollbar-width: thin;
    scrollbar-color: #42556d #2c3644;
}

*::-webkit-scrollbar {
    height: 12px;
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #2c3644;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: #42556d;
    border-radius: 5px;
}


/* */

.customSelect {
    position: fixed;
    background-color: #171e27;
    border-radius: 6px;
    border: solid 1px #444444;
    padding: 12px 24px;
    width: 15vw;
    height: 25vh;
    padding: 32px 16px;
}